.filter-box {
    width: 100%;
    height: 270px;
    position: fixed;
    left: 0;
    bottom: -1000px;
    background-color: var(--primary);
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.filter-box.show {
    bottom: 0;
}

#find { animation: opfind 0.3s ease-in-out;}
@keyframes opfind { from {opacity: 0;} }